---
layout: page
---

<span class="image left"><img src="{{ site.url }}/assets/images/ashc-logo.png" /></span>{{ content }}

<hr>

<div class="exec-container">
{% for member in site.data.exec %}
    <div class="exec-item">
        <span class="image fit">
        <div class="image-container">
            <object data="{{ site.url }}/{{ member.image }}">
                <img src="{{ site.url }}/assets/images/exec/default.jpg" />
            </object>
        </div>
        </span>
        <h4>{{ member.position }}</h4>
        {{ member.name }}
        <!-- <p>{{ member.description }}</p> -->
    </div>
{% endfor %}

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<style>
    .exec-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }
    .exec-container > a {
        display: none;
    }
    @media screen and (max-width: 736px) {
        .exec-container {
            position: relative;
            grid-template-columns: 1fr;
            padding: 0 1rem;
        }
        .exec-container > a {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -1rem;
            width: 30%;
            height: 10rem;
            line-height: 10rem;
            z-index: 10000;
            border-bottom: none;
            font-size: 2rem;
        }
        .exec-container > a:last-of-type {
            left: calc(70% + 1rem);
            text-align: end;
        }
        .exec-item {
            display: none;
            transition: all 0.5s;
        }
        .exec-item.active {
            display: block;
            transition: all 0.5s;
        }
    }
    .exec-item {
        padding: 1rem 1rem;
        border: 2px solid #eeeeee;
        text-align: center;
        animation: fade 1s ease;
        -webkit-animation: fade 1s ease;
        -moz-animation: fade 1s ease;
    }
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
    @-moz-keyframes fade {
        from {opacity: .4}
        to {opacity: 1;}
    }
    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    }
        .exec-item > h3, .exec-item > h4 {
            text-align: center;
            margin-bottom: 0.5rem;
        }
        .image.fit {
            margin: 1.5rem 0;
        }

    .image-container {
        width: 100%;
        position: relative;
        padding-bottom: 100%;
        border-radius: 50%;
        overflow: hidden;
    }
        .image-container > object, .image-container > img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            top: 0;
            left: 0;
            transition: all 0.5s;
        }
        .image-container:hover > object, .image-container:hover > img {
            transform: scale(1.1);
        }
    .exec-container > p {
        font-size: 0.75rem;
    }
</style>

<script>
    var slideIndex = 1;

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("exec-item");
        if (n > slides.length) {slideIndex = 1} 
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].classList.remove("active"); 
        }
        slides[slideIndex-1].classList.add("active"); 
    }

    function addListenerMulti(el, s, fn) {
        s.split(' ').forEach(e => el.addEventListener(e, fn, false));
    }

    addListenerMulti(window, "load resize", function() {
        var earray = document.getElementsByClassName("exec-item");
        earray[0].classList.add("active");
        for(var i=1; i<earray.length; i++) {
            earray[i].classList.remove("active");
        }
    });



</script>