---
layout: page
---

<section class="posts">
{% for post in paginator.posts %}
    <article>
        <header>
            <span class="date">{{ post.date | date: "%B %-d, %Y" }}</span>
            <h2><a href="{{ post.url  | absolute_url }}">{{ post.title }}</a></h2>
        </header>
        {% if post.image %}<a href="{{ post.url  | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>{% endif %}
        <p>{{ post.excerpt }}</p>
        <ul class="actions">
                <li><a href="{{ post.url  | absolute_url }}" class="button">Full Story</a></li>
        </ul>
    </article>
{% endfor %}
</section>


{% include pagination.html %}              